@{
    ViewData["Title"] = "My Account";
}

<h1>@ViewData["Title"]</h1>

<br />

<br />

<div id="login-form">
    <form class="form-signin">
        <h2 class="h3 mb-3 font-weight-normal text-left">Log In</h2>
    </form>
    <input type="email" class="form-control" placeholder="email" required="" />
    <input type="password" class="form-control" placeholder="password" required="" />
    <br />
    <button class="btn btn-success" type="submit">Log In</button>
    <br />
    <hr />
    <br />
    <h4 class="font-weight-normal text-left">Looking to sign up?</h4>
    <button class="btn btn-primary" type="button">Register</button>

</div>